
Test_Project/.vs/Lua_Irrlicht_BTH_template/v16/.suo
Test_Project/.vs/Lua_Irrlicht_BTH_template/v16/.suo
*.suo
Bin/
Obj/
*.tlog
*.exe
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
*.obj
Test_Project/.vs/Lua_Irrlicht_BTH_template/v16/.suo
Test_Project/Bin/x64/Lua_Irrlicht_BTH_templateD.exe
Test_Project/Bin/x64/Lua_Irrlicht_BTH_templateD.pdb
Test_Project/Obj/x64/Lua_Irrlicht_BTH_template/Debug/Lua_Irrl.3B9B47DC.tlog/link.read.1.tlog
Test_Project/Obj/x64/Lua_Irrlicht_BTH_template/Debug/Lua_Irrlicht_BTH_templateD.ilk
Test_Project/Obj/x64/Lua_Irrlicht_BTH_template/Debug/Main.obj
Test_Project/Obj/x64/Lua_Irrlicht_BTH_template/Debug/vc142.idb
Test_Project/Obj/x64/Lua_Irrlicht_BTH_template/Debug/vc142.pdb
Test_Project/lib/x64/LuaLibD.idb
Test_Project/lib/x64/LuaLibD.pdb
Test_Project/lib/x64/LuaLibD.lib
Test_Project/lib/x64/LuaLibD.lib
*.db
Test_Project/.vs/Lua_Irrlicht_BTH_template/v16/Browse.VC.db
